build/* 
docs/*
test/*

**/*.ts

.codeclimate.yml
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.travis.yml
build.sh
circle.yml
CONTRIBUTING.md
gulpfile.js
sonar-project.properties
task-wrapper.js
task.json
tsconfig.json  
tslint.json
vss-extension.json
