.circleci/
.vscode/
gulp/
build/
coverage/
.coverage/
test/
testresults/
.testresults/
.appveyor.yml
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.npmignore
.nycrc.json
.travis.yml
build.sh
CONTRIBUTING.md
Dockerfile
gulpfile.js
renovate.json
sonar-project.properties
tsconfig.json
